#border
{
	border: 1px solid black;
}

#no_border
{
	border-collapse: collapse;
}

#left
{
	display:inline-block;
	float:left;
}

.nav_button
{
	width: 200px;
	text-align: center;
	margin: 5px;
	padding: 5px;
}

.nav_button_two
{
	width: 200px;
	height: 228px;
	text-align: center;
	margin: 5px;
	padding: 5px;
}